# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.log
infrastructure/local/01_os/env_status.json
infrastructure/local/01_os/env_report.html
spine.db
